body,html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}

.profile, .projects{
    height: 100dvh;
}

.profile {
    background-color: #020b14;
    color: #f2f0ed;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile > h1 {
    text-transform: uppercase;
    min-width: 50dvw;
    letter-spacing: 5px;
    margin-top: 45dvh;
}

.links {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 35dvh;
    min-width: 50dvw;
}

a {
    color: #f2f0ed;
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: #74ADF4;
    transform: scale(1.05);
}